@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.onlysp {
  display: none;
}

.hidden {
  display: none;
}

html, body {
  height: 100%;
}

body {
  font-family: "San Francisco", Futura, YuGothic, "游ゴシック", "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", Helvetica, Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: #000;
  color: #fff;
  -webkit-user-select: none;
}

body * {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  position: relative;
}

.clock {
  text-align: center;
  font-size: 380px;
  height: 380px;
  font-size: 22vw;
  height: 22vw;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 1s;
}
.clock.hide {
  opacity: 0;
}

.date {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: 30px;
}

.analog {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid 4px #fff;
  text-align: center;
  font-size: 30px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: scale(4);
  transition: opacity 1s;
}
.analog.hide {
  opacity: 0;
}

.num {
  position: absolute;
  transform: translate(-65%, -65%);
}
.num:nth-child(1) {
  top: 30.71797px;
  left: 140px;
}
.num:nth-child(2) {
  top: 60.0px;
  left: 169.28203px;
}
.num:nth-child(3) {
  top: 100px;
  left: 180px;
}
.num:nth-child(4) {
  top: 140px;
  left: 169.28203px;
}
.num:nth-child(5) {
  top: 169.28203px;
  left: 140px;
}
.num:nth-child(6) {
  top: 180px;
  left: 100px;
}
.num:nth-child(7) {
  top: 169.28203px;
  left: 60px;
}
.num:nth-child(8) {
  top: 140px;
  left: 30.71797px;
}
.num:nth-child(9) {
  top: 100px;
  left: 20px;
}
.num:nth-child(10) {
  top: 60px;
  left: 30.71797px;
}
.num:nth-child(11) {
  top: 30.71797px;
  left: 60.0px;
}
.num:nth-child(12) {
  top: 20px;
  left: 100.0px;
}

.hand-hour, .hand-min, .hand-sec {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  background-color: #fff;
  transform-origin: bottom;
}

.hand-hour {
  width: 5px;
  height: 30%;
}

.hand-min {
  width: 3px;
  height: 40%;
}

.hand-sec {
  width: 2px;
  height: 45%;
}
