doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    
    title BigClock
    link(rel="stylesheet" href="./css/main.css")
    
    script(src="./js/App.js")
    script(src="./js/main.js")
    
  body
    div.wrapper
      p.clock
      p.analog
      p.date
