@charset "UTF-8";
@import "compass";
@import "compass/reset";
@import "mixin";

// variable ------------------------------
$MAIN_FONT: "San Francisco", Futura, YuGothic, '游ゴシック', "ヒラギノ角ゴPro W3", "Hiragino Kaku Gothic Pro", Meiryo, "メイリオ", Helvetica, Arial, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// ------------------------------
.onlysp {
  display: none;
}
.hidden {
  display: none;
}

// ------------------------------
html, body {
  height: 100%;
}
body {
  font-family: $MAIN_FONT;
  background-color: #000;
  color: #fff;
  -webkit-user-select: none;
}
body * {
  box-sizing: border-box;
}

// ------------------------------
.wrapper {
  height: 100%;
  position: relative;
}

.clock {
  text-align: center;
  font-size: 380px;
  height: 380px;
  font-size: 22vw;
  height: 22vw;
  @include absolute-center();
  transition: opacity 1s;
  
  &.hide {
    opacity: 0;
  }
}

.date {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  font-size: 30px;
}

.analog {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid 4px #fff;
  text-align: center;
  font-size: 30px;
  @include absolute-center();
  transform: scale(4);
  transition: opacity 1s;
  
  &.hide {
    opacity: 0;
  }
}

.num {
  $center: 100px;
  $radius: (100 * 0.8);
  position: absolute;
  transform: translate(-65%, -65%);
  
  @for $i from 1 through 12 {
    $radian: $i * pi() / 6;
    $x: $center + $radius * sin($radian);
    $y: $center - $radius * cos($radian);
    &:nth-child(#{$i}) {
      top: $y;
      left: $x;
    }
  }
}

%hand {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  background-color: #fff;
  transform-origin: bottom;
}
.hand-hour {
  @extend %hand;
  width: 5px;
  height: 30%;
}
.hand-min {
  @extend %hand;
  width: 3px;
  height: 40%;
}
.hand-sec {
  @extend %hand;
  width: 2px;
  height: 45%;
}
